[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = jon.vinson@gmail.com
	name = jon
[core]
	editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true
  side-by-side = true
  line-numbers = true

[merge]
  conflictstyle = zdiff3
